ul {
  color: blue;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

label {
  margin: 0 auto;
  width: 40rem;
}
.name-input {
  display: flex;
  justify-content: center;

  height: 2rem;
}
